<span style='color: #000'>464 frames</span>	<span style='color: #900'>13,312 KB</span>	<span style='color: #090'>374.82 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />