body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}
.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  
}
.user-menu li {
    display: inline-block;color: #fff;
}
.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
    
}
.user-menu li a i.fa {
    margin-right: 2px;
}
.menubar a, li { color: #fff!important;
}

.nav>li>a:hover {
    transition: all 1s;
    text-decoration: none;
    background-color: #fff;
    color: #775C7B!important;
}
.nav>li>a:focus{
    text-decoration: none;
    background-color: #806363;
}

.navbar-toggle .icon-bar {
   
    background: white;
}

.shopping-item {
/*    border: 1px solid #ddd;*/
/*    border-radius: 20px;*/
    background: #775C7B;
}
.shopping-item:hover {
/*    border: 1px solid #ddd;*/
/*    border-radius: 20px!important;*/
    background: #775C7B!important;
  
}
.shopping-item a {
    color: #666;
}
.cart-amunt {

   
}
.nav .open>a:focus {
    background-color: #250d0d;
    border-color: #337ab7;}

.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background: #3c763d;
    color: #fff;
    transition: 1s all;
}
.dropdown-menu>li>a:hover{
      background: #337ab7;;
    color: #fff;
    padding: 8px 25px;
    
}
.footer-bottom-area{
    background: #7FA43A;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.footer-bottom-area a{
     color: wheat;
}
.big-footer-area{
     color: #fff;
}

/*
====================*/
.section-title {
  font-family: "Arial",sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
    padding: 5px 0px;
/*  text-align: center;*/
/*  background:#775c7b;*/
  color: #7FA43A;
  border-bottom: 1px #7FA43A solid;
}
.section-title-video {
  font-family: "Arial",sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
    padding: 5px 0px;
/*  text-align: center;*/
/*  background:#775c7b;*/
  color: #7FA43A;
/*  border-bottom: 1px #7FA43A solid;*/
}
.product-f-image {
    position: relative;
}
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;overflow: hidden;border: 1px solid #ddd;
}
.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;transition: .4s;
}
.product-hover a {
    background: none repeat scroll 0 0 #7FA43A;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    left: 15%;
    margin: 0;
    padding: 8px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #5a88ca;
    width: 70%;z-index: 99;transition: .4s;
}
.product-hover a:hover {
  background: #48498a;
  text-decoration: none;border-color: #444;
}
.product-carousel-price  {
text-align: left;
}
.product-carousel-price a:hover  {
text-decoration: none!important;
}
.product-carousel-price ins {
  color: #5a88ca;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}
.product-hover a i.fa {
    margin-right: 5px;
}
.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}
.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 15px;
}


.single-product h2 a {
    color: #222;
}
.single-product p {
    color: #5a88ca;
    font-weight: 700;
}

.single-product {
  overflow: hidden;
}
.single-product:hover {}
.single-product:hover .product-hover a.add-to-cart-link {top: 32%;}
.single-product:hover .product-hover a.view-details-link {bottom: 40%;}
.single-product:hover .product-hover:after{left: 0}

.footer_social a{color: white;}
.footer_social a:hover{
    cursor: pointer;
}
.footer-wid-title{
    text-align: center;
    padding: 10px;
    margin: 20px;
/*    border-bottom: 1px dotted #5a88ca;*/
}

/*start single product css*/
.product-name {
    font-size: 20px;
    margin-bottom: 20px;
}
.product-inner-price {
    margin-bottom: 20px;
}
.product-inner-price > ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
  
}

.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #5a88ca;
    padding: 5px;
    width: 50px;
}
/* end single product css*/

#cart{
   position: fixed;
   top: 50px;
   border-radius: 5px;
   padding:5px;
   background:#7FA43A;
   color: white;
   right: 1px;
   z-index: 2000;
   
   cursor: pointer;
 transition: all 1s;
}
#cart:hover{
 
   opacity: .8;
 
}
#facebook{
   position: fixed;
   bottom: 355px;
   border-radius: 5px;
   padding:10px  12px;
   background:#5a88ca;
   color: white;
   left: 5px;
   
   cursor: pointer;
 transition: all 1s;
}

#facebook:hover{
 
   padding:10px  25px;
 
}
#youtube{
   position: fixed;
   bottom: 314px;
   border-radius: 5px;
   padding:10px;
   background:#C8302A;
   color: white;
   left: 5px;
   
   cursor: pointer;
  transition: all 1s;
}
#youtube:hover{
 padding:10px  23px;
}
#linkedin{
   position: fixed;
   bottom: 273px;
   border-radius: 5px;
   padding:10px;
   background:#0077B5;
   color: white;
   left: 5px;
   
   cursor: pointer;
transition: all 1s;
}
#linkedin:hover{
padding:10px  23px;
}
#twitter{
   position: fixed;
   bottom: 232px;
   border-radius: 5px;
   padding:10px;
   background:#67CAEA;
   color: white;
   left: 5px;
   
   cursor: pointer;
  transition: all 1s;
}
#twitter:hover{
  padding:10px  23px;
}
.addcart{
    transition: all .5s;
}
.addcart:hover{
    background-color: #7FA43A;color: white;transition: all .5s;
}

  .dis {
                position: absolute;
                top: 10px;
                background-color: red;
                color: white;
                margin-left: 2px;
            }
/*--------product carosel start-------------------------*/

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
/*-------------------product Carosel end------------------*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*user regi,login,forget modal*/
   a{color:#000;}
            a:hover, a:focus, a:active{color:#000; text-decoration:none;}
/*            .margin-auto{margin:10px auto;}*/
            .top-nav{padding:10px 0; background:#ccc;}
            .top-nav a{margin-right:10px; color:#999;}
            .top-nav a:hover{color:#000; text-decoration:underline;}
            .modal-dialog{max-width:340px;}
            .modal-content{box-shadow:3px 3px 6px #757272; background:#2f9e7e;color:white; border-radius:0px;}
            .modal-body h2{font-size:18px; margin-top:35px; margin-bottom:20px;}
            .form-control{border-radius:0px;}
            .modal-links{ color:#fff; margin-right:10px;}